ion-title {
    text-align: center;
    background: #86141400;
}

ion-content,
ion-card {
    --background: #0b3e72;
    --color: hsl(0, 12%, 97%);
}

ion-card-title {
    text-align: center;
    --color: hsl(0, 12%, 97%);
}

.box-home {
    margin-top: 50px;
    border: 2px solid #5f8cb1;
}

.btn-home {
    --color: #fff;
    --border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    --background: #141313bd;
    margin: 2rem 8.5rem;
    transition: all 0.3s ease;
}

.btn-home:hover {
    --background: #000000;
    --color: #ffd700;
    opacity: 0.9;
    transition: all 0.3s ease;
}