<ion-content>
  <ion-card class="box-home">
    <ion-card-header>
      <ion-card-title>Avaliação Formadora II</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        O aplicativo foi criado como parte da
        <strong>Avaliação Formadora II</strong>, atividade desenvolvida na disciplina de
        <strong>Desenvolvimento de Aplicações Móveis</strong>. A proposta envolve aplicar, na prática, os conceitos
        aprendidos em aula sobre desenvolvimento mobile.
      </p>
      <p><strong>Recursos presentes no projeto:</strong></p>
      <ul>
        <li>Página que realiza o consumo de uma API externa.</li>
        <li>A proxima tela, apresenta as minhas informações.</li>
        <li>Navegação entre páginas implementada de forma dinâmica.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col size="6">
      <ion-button routerLink="/card" size="large" class="btn-home">
        <strong>Entrar</strong>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>