<ion-content>
  <div class="card-container">
    <div class="card">
      <div class="card-front">
        <div class="top-section">
          <div class="card-header">
            <div class="brand-name">UNISUAM</div>
            <div class="tagline">FORMADORA II</div>

            <ion-icon routerLink="/home" class="ionIcon" name="home-outline"></ion-icon>

            <ion-icon routerLink="/card-ver" class="ionIconTwo" name="sync-outline"></ion-icon>
          </div>
        </div>

        <div class="photo-section">
          <div class="wave-triangles">
            <div class="triangle-left"></div>
            <div class="triangle-right"></div>
            <div class="triangle-left-cyan"></div>
            <div class="triangle-right-cyan"></div>
          </div>
          <div class="photo-container">
            <div class="photo-circle">
              <img src="/assets/img/inicio.jpeg" alt="Foto do aluno" class="foto">
            </div>
          </div>
        </div>

        <div class="blue-section">
          <div class="blue-wave"></div>

          <div class="user-info">
            <div class="user-name">Ryan Roger</div>
            <div class="user-title">Mobile Developer</div>
          </div>

          <div class="user-details">
            <div class="detail-row">
              <span class="detail-label">Turno :</span>
              <span class="detail-value"> Manhã</span>
            </div>
            <div class="detail-row">
              <span class="detail-label">Mentor :</span>
              <span class="detail-value"> Oswaldo Peres</span>
            </div>
            <div class="detail-row">
              <span class="detail-label">E-mail :</span>
              <span class="detail-value"> RyanRoger@Souunisuam.com</span>
            </div>
            <div class="detail-row">
              <span class="detail-label">Matrícula :</span>
              <span class="detail-value"> 24104621</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>